* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 72px;
    background-color: rgb(246, 253, 187);
    color: rgb(77, 76, 77);
}

.left, 
.right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.navbar {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.legal {
    color: rgb(160, 158, 160);
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 70%;
    max-width: 1000px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .container {
    padding: 24px 0;
}

.content {
    flex: 1;
}

#textArea {
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}



